body{
    background-color: rgba(122, 103, 103, 0.685);
}
.container-fluid{
    background-color: rgb(104, 100, 121);
    padding: 10px;
}
.col-sm-10{
    font-size: 30px;
    text-align: center;
    padding-top: 20PX;
}
.Box{
    padding: 60px 30px;
}
.box-part{
    background-color: rgb(46, 43, 43);
    border-radius: 10px;
    margin: 50px 0px;
    padding: 300px 50px;
    color: rgb(171, 192, 212);
    text-align: center;
}

.box-part1{
    background-color: rgb(46, 43, 43);
    border-radius: 10px;
    margin: 50px 0px;
    padding: 30px 50px;
    color: whitesmoke;
}

.box-part2{
    background-color: rgb(46, 43, 43);
    border-radius: 10px;
    margin: 20px 0px;
    padding: 90px 0px;
    color: thistle;
    text-align: center;
}

.box-part3{
    background-color: rgb(46, 43, 43);
    border-radius: 10px;
    margin: 0px 0px;
    padding: 80px 0px;
    color: thistle;
    text-align: center;
}